@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;

    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

hr {
    display: block;
    margin: 40px 0;
    width: 100%;
    height: 1px;

    border: 0;
    background-color: #e5e5e5;
}

/* Page */
.page {
    overflow: hidden;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */
.header {
    width: 100%;
    padding-top: 35px;

    position: absolute;
    z-index: 1000;

    transition: .2s linear;
}

.header.fixed {
    padding: 10px 0;

    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;

    cursor: pointer;
}


/* Nav */
.nav {
    display: flex;
}

.nav__link {
    margin-left: 50px;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    transition: all .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;

    background-color: #fce38a;
    opacity: 0;

    transition: all .1s linear;
}

.nav__link:hover,
.nav__link:hover .nav__icon {
    color: #fce38a;
}

.nav__link:hover::after{
    opacity: 1;
}

.nav-toggle {
    display: none;

    background: none;
    border: none;
    cursor: pointer;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    position: relative;

    background: #e9af85 url(../assets/img/intro-bg.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__suptitle {
    margin-bottom: 40px;

    font-family: 'Kaushan Script', cursive; 
    font-size: 72px;
    font-weight: 400;
    color: #fff;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .9;
    color: #fff;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
    z-index: 1;
}

.intro__btn {
    padding: 10px 40px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    transition: all .1s linear;
}

.intro__btn:hover {
    background: #fff;
    color: #333; 
}

/* Slider intro */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    position: relative;
    padding: 20px 0;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: "";
    display: block; 
    width: 50%;
    height: 3px;
    position: absolute;

    background-color: #f38181;

    top: -3px;
    left: 0;
    right: 0;
}


/* Section */
.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    margin-bottom: 15px;

    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    font-weight: 400;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 35px auto ;

    background-color: #f38181;
    z-index: 1;

}

.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
    color: #999999;
}


/* Card */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 80px -15px 0;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background: #95e1d3;
}

.card__inner:hover .card__img img {
    opacity: 0.1;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__content {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.card__content {
    width: 100%;

    position: absolute;
    top: 50%;
    left: 0;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    opacity: 0;
    transition: opacity .2s linear;

    transform: translateY(-50%);
    
}

.card__info {
    margin-top: 25px;

    text-align: center;
}

.card__name {
    margin-bottom: 7px;

    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.card__prof {
    font-family: 'Roboto', sans-serif;
    font-style: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}


/* Statisctics */
.statisctics {
    background-color: #95e1d3;
}

.stat__inner {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    text-align: center;
    color: #fff;

    border-right: 1px solid #b5eae0;
}

.stat__item:last-child {
    border-right: none;
}

.stat__num {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 90px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 20px;
    left: 30px;

    transform: translateY(-50%);
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #999;

}


/* Devices */
.devices--bg {
    padding-bottom: 0;

    background: #eeeeee url(../assets/img/devices-bg.jpg);
    background-size: cover;
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    right: 0;
    bottom: -85px;
    z-index: 1;
}


/* We do */
.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Accordion */
.accordion__item {
    margin-bottom: 10px;
}

.accordion__item:last-child {
    margin-bottom: 0;
} 

.accordion__header {
    border: 1px solid #e5e5e5;

    position: relative;
}

.accordion__icon {
    position: absolute;

    top: 50%;
    left: 15px;

    transform: translateY(-50%);
}

.accordion__title {
    padding: 20px 0 20px 60px;

    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.accordion__content {
    display: none;
    padding: 20px 15px;

    border: 1px solid #e5e5e5;
    border-top: none;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.accordion__arrow {
    width: 24px;
    height: 45px;

    position: absolute;
    top: 10%;
    right: 10px;

    fill: #ccc;

    transform: rotate(270deg);
}

.accordion__item.active .accordion__arrow {
    transform: rotate(90deg);
} 


/* Reviews */
.grey--bg {
    background-color: #f8f8f8;
}

.reviews {
    position: relative;
}

.reviews .slick-slider{
    padding: 0 110px;
} 

.reviews__item {
    min-height: 210px;

    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    display: block;
    width: 210px;
    height: 210px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    margin-bottom: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.reviews__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

.slick-arrow {
    width: 24px;
    height: 45px;
    position: absolute;
    top: 35%;

    border: none;
    background: none;

    font-size: 0;
    color: transparent;
    fill: #ccc;
    z-index: 2;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;

    transform: rotate(180deg);
}


/* Social */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 56px;
    height: 56px;

    padding: 10px;

    border-right: 1px solid #f9c586;
    background-color: #fce38a;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;

    transition: all .1s linear;
}

.social__item:last-child {
    border-right: none;
}

.social__item:hover {
    background-color: #f38181;
    color: #fff;
}


/* Logos */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.logos__item {
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Works */
.works {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.works__info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
    transform: translateY(-50%);
}

.works__title {
    margin-bottom: 15px;

    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


/* Clients */
.clients-bg {
    padding-bottom: 40px;

    background: #f7f7f7 url(../assets/img/clients_bg.jpg);
    background-size: cover;
}

.clients {
    display: flex;
    flex-wrap: wrap;

    margin-top: 90px;
}

.client__item {
    width: 50%;
    margin-bottom: 65px;
    padding-left: 180px;
    padding-right: 40px;

    position: relative;
}

.client__photo {
    position: absolute;
    top: 0;
    left: 40px;
}

.client__name {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.client__prof {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #333;
}

.client__prof::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px 0;

    background-color: #f38181;
} 

.client__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #999;
}


/* Blog */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__photo {
    position: relative;
} 

.blog__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    padding: 10px 15px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    text-align: center;

    background: #95e1d3;

    position: absolute;
    bottom: 10px;
    left: -10px;
}

.blog__date span {
    margin-bottom: -5px;

    display: block;

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
} 

.blog__content {
    margin-top: 10px;
}

.blog__title {
    margin-bottom: 6px;

    font-style: 14px;
    text-transform: uppercase;
    color: #333;

    cursor: pointer;
} 

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #999;
}

.blog__stat {
    margin-top: 15px;
    padding-top: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #999;

    border-top: 1px solid #e5e5e5;
}

.blog__stat span {
    margin-right: 15px;
} 

.blog__stat i {
    margin-right: 5px;

    color: #95e1d3;
}


/* Map */
.map-bg {
    background: #e7e7e7 url(../assets/img/map_bg.jpg);
    background-size: cover;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 24px;
    color: #f38181;
}

.map__text {
    margin-top: 10px;
    
    font-weight: 700;
    text-transform: uppercase;
    color: #f38181;

    text-decoration: none;

}

.map__text::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;

    background-color: #f38181;
} 

.map__text:hover {
    text-decoration: underline;
}


/* Footer */
.footer {
    padding-top: 70px;

    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 -15px 50px;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--one {
    width: 40%;
}

.footer__col--two {
    width: 29%;
}

.footer__col--three {
    width: 22%;
}

.footer__logo {
    margin-bottom: 30px;

    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__text {
    margin-bottom: 40px;

    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #999;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;

    font-size: 14px;
    color: #333;

    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    font-size: 18px;
    color: #95e1d3;
}

.footer__title {
    margin: 20px 0 30px;

    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}


/* Blogs */
.blogs__item {
    margin-bottom: 25px;

    display: flex;
    align-items: center
}

.blogs__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.blogs__content {
    margin-left: 15px;
}

.blogs__title {
    display: block;

    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #333;

    text-decoration: none;
}

.blogs__title:hover{
    text-decoration: underline;
} 

.blogs__date {
    margin-top: 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}


.blogs__text {
    margin-top: 15px;

    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #333;
}


/* Instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
}

.instagram__item {
    width: 33.33333%;

    border: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* subscribe */
.subscribe {
    display: flex;

    width: 100%;
    max-width: 380px;
}

.subscribe__input {
    width: 60%;
    height: 40px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #333;

    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: none;
}

.subscribe__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #ccc;
}

.subscribe__input:focus {
    outline: none;
    border-color: #95e1d3;
} 

.subscribe__btn {
    width: 40%;
    height: 40px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    background-color: #95e1d3;
    border: 0;
    cursor: pointer;

    transition: background .1s linear;
}

.subscribe__btn:hover {
    background-color: #71c9b9;
}

.subscribe__btn:focus {
    outline: none;
}


/* copyright */
.copyright {
    padding: 25px 0;

    font-size: 14px;
    color: #333333;
    text-align: center;

    border-top: 1px solid #e5e5e5;
}

.copyright span {
    color: #f38181;
}





/* Media */
@media (max-width: 1230px) {
    /* Intro */
    .intro__suptitle {
        margin-bottom: 30px;

        font-size: 52px;
    }
    
    .intro__title {
        font-size: 120px;
    }


    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }
}


@media (max-width: 991px) {
    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }
    
    .intro__title {
        font-size: 80px;
    }


    /* Stat */
    .stat__inner {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;

        padding: 30px 25px;

        border: none;
    }

    .stat__item:last-child {
        border-right: none;
    }


    /* Services */
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }
    
    .services__item--border {
        border-bottom: none;
    }


    /* Reviews */
    .reviews .slick-slider {
        padding: 0 65px;
    }

    .reviews__item {
        padding-left: 185px;
    }

    .reviews__photo {
        width: 160px;
        height: 160px;
    }


    /* Clients */
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .client__item {
        width: 100%;
        padding-right: 0;
    }

    .client__item:last-child {
        margin-bottom: 0;
    }


    /* Footer */
    .footer__col--one {
        width: 100%;
    }
    
    .footer__col--two,
    .footer__col--three {
        width: 50%;
    }


    /* Instagram */
    .instagram {
        justify-content: flex-start;
    }

    .instagram__item {
        width: auto;
    }
}


@media (max-width: 768px) {
    /* Header */
    .header {
        padding: 16px 0;
    }


    /* Intro */
    .intro {
        min-height: 650px;
    }


    /* Nav */
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        position: absolute;
        top: 100%;
        left: 0;

        background-color: #eb8b8d;
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 5px 20px;
    }

    .nav-toggle {
        display: block;
    }


    /* Slider */
    .slider__text {
        display: none;
    }


    /* section */
    .section {
        padding: 40px 0;
    }

    .devices--bg {
        padding-bottom: 0;
    }


    /* Card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    } 


    /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }


    /* We do */
    .wedo__item {
        width: 100%;
    }

    .wedo__img {
        display: none;
    }


    /* Reviews */
    .reviews__item {
        padding-left: 0;
    }

    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }


    /* Logos */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos__item {
        width: 33.33333%;
        margin-bottom: 15px;
    }

    .logos__img {
        margin: 0 auto;
    }


    /* Works */
    .works__col {
        flex: none;
        width: 50%;
    }


    /* Blog */
    .blog {
        max-width: 380px;
        margin: 0 auto;
    }

    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog__item:last-child {
        margin-bottom: 0;
    }


    /* Footer */
    .footer__col--two,
    .footer__col--three {
        width: 100%;
    }
}


@media (max-width: 575px) {
    /* Intro */
    .intro__suptitle {
        font-size: 22px;
    }
    
    .intro__title {
        font-size: 40px;
    }


    /* section */
    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title::after {
        margin: 20px auto;
    }


    /* Stat */
    .stat__item {
        width: 100%;

        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: none;
    }


    /* Devices */
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -80px;
    }


    /* Reviews */
    .reviews .slick-slider {
        padding: 0;
    }

    .slick-arrow {
        top: 17%;
    } 

    
    /* Logos */
    .logos__item {
        width: 50%;
    }


    /* Works */
    .works__col {
        width: 100%;
    }

    .works__img {
        min-width: 100%;
    }


    /* Clients */
    .client__photo {
        position: static;
    }

    .client__item {
        padding-left: 0;
        text-align: center;
    }

    .client__prof::after {
        margin: 20px auto;
    }


    /* Subscribe */
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    

    .subscribe__input,
    .subscribe__btn {
        width: 100%;
    }

    .subscribe__input {
        border-right: 1px solid #e7e7e7;
    }
}
